# example of JWT secret file for use with scripts/run-spring-boot
# On linux and probably other unix machines, 
# you can use `openssl rand -hex 32` to generate a random secret for JWT
JWT_SECRET='(64 random hex characters)'
